.videoTextBoxTitle {
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 730px;
  width: 640px;
}
.videoTextBoxSelect {
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 850px;
  width: 540px;
  z-index: 1;
  color: var(--text-color-bright)
}
.videoTable {
  position: absolute;
  top: 720px;
  left: 10px;
  width: 640px;
  z-index: 20;
}
.cancelSelectionBtn{
  position: absolute;
  z-index: 50;
  top: 820px;
  left: 10px;
}