.videoPart {
  position: absolute;
  left: 0;
  font-size: 14px;

  .videoMajor {
    position: absolute;
    left: 10px;
  }

  .labelPreview {
    z-index: 100;
    position: absolute;
    left: 10px;
    pointer-events: none;
  }

  .editBtnGroup {
    position: absolute;
    top: 370px;
    left: 10px;
    .bboxText {
      width: 380px;
      color: var(--text-color-bright);
    }
  }

  .playBtnGroup {
    position: absolute;
    top: 410px;
    left: 10px;
  }

  .frameBtnGroup {
    position: absolute;
    top: 445px;
    left: 10px;
  }

  .urlBtnGroup {
    position: absolute;
    top: 480px;
    left: 10px;
  }

  .urlNameTag {
    position: absolute;
    top: 515px;
    left: 10px;
  }
}

.dataPart {
  position: absolute;
  left: 670px;
  width: 1000px;
}