.cameraShotListContainer {
  height: 0px;
  position: absolute;
  left: 670px;
  width: 1000px;
  top: 10px;
  .cameraShotTextBox {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .cancelSelectionBtn {
    position: relative;
    z-index: 50;
  }
  .cameraShotTable {
    position: relative;
    top: -50px;
  }
}