.layerItemContainer {
  display: flex;
  width: 222px;
  justify-content: flex-start;
  height: 24px;
  // margin-bottom: 1px;
  border-bottom: 1px solid var(--border-color-soft);
  border-left: 1px solid var(--border-color-soft);
  border-right: 1px solid var(--border-color-soft);
  line-height: 24px;
  font-size: 13px;
  .controlBtn {
  }
  .layerName {
    margin: 0 4px;
    width: 99px;
    border: none;
  }
}